h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    height: 170px;
    margin: 5px 10px 5px 10px;
    border: 1px solid #dddddd;
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
}

.container-back {
    transform: rotateY(180deg);
}

.type-icon {
    margin: 5px;
}

.module-icon-container {
    position: absolute;
    margin: 5px;
    right: 0;
    z-index: 50;
}

.module-icon {
    fill: #b9b9b955;
    margin: 5px;
}

.module-icon:hover {
    fill: #ececec;
}

@media screen and (min-width: 500px) {
    .container {
        width: 320px;
        height: 170px;
        margin: 10px 5px 5px 10px;
        border: 1px solid #dddddd;
        position: relative;
    }
}